@charset "UTF-8";

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    height: 490px;
    background: url("../imagens/frame-iphone-pq.png") no-repeat;
    background-size: cover;
}

iframe#tela {
    position: relative;
    top: 63px;
    left: 21px;
    width: 248px;
    height: 369px;
}

section#redes-sociais img {
    width: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.644);
    width: 41px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.700);
    transition: 0.1s;
}

section#redes-sociais {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section .bthome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-460%, -50%);
}

section .btgit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-460%, -200%);
}

section .btinsta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -460%, 100%);
}


section .btyout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(360%, -50%);
}

section .bttw {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(360%, -200%);
}

section .btface {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(360%, 100%);
}